:host {
}

.container {
    border: 1px solid #b3b3b3;
    display: inline-block;
    box-sizing: border-box;
    font-size: 0;
    width: 500px;
    height: 175px;
    padding: 3px;
    overflow-y: auto;
    overflow-x: hidden;
    outline: none;
}

input[type=text] {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.item {
    display: inline-block;
    font-size: 14px;
    background-color: #E4EEFA;
    border: 1px solid #B3CAF1;
    padding: 0px 5px 1px 5px;
    border-radius: 10px;
    margin-right: 3px;
    margin-bottom: 3px;
    cursor: default;
}

.selected-item {
    background-color: #C7DEF9;
    border-color: #A0BCE8;
}

.delete-item-button:after {
    margin-left: 3px;
    color: #999;
    font-family: 'FontAwesome';
    content: "\f00d";
}

.delete-item-button:hover:after {
    color: #555;
}
